body{
    background-image: url(https://images7.alphacoders.com/416/416822.jpg);
    background-size: 80rem;
}
header, footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    background-color: aliceblue;
    margin: 10px;
    font-style: italic;
    color: darkslategray;
}

.biblioteca{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: aliceblue;
    font-style: italic;
    color: darkslategray;
}

#gameList {
    background-color: aliceblue;
}